<div
  class="hero overlay"
  style="background-image: url('assets/images/bg_3.jpg')"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Add Match</h1>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <form #addMatchForm (ngSubmit)="AddMatch()">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="match.teamOne"
              placeholder="Team One"
              name="a"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="match.teamTwo"
              placeholder="Team Two"
              name="b"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="match.scoreOne"
              placeholder="Score One"
              name="c"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="match.scoreTwo"
              placeholder="Score Two"
              name="d"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-primary py-3 px-5">submit</button>
          </div>
          <!--<div *ngIf= "(SignUpForm.controls['Email'].invalid && SignUpForm.controls['Email'].touched)||SignUpForm.controls['Email'].dirty"></div>
              <div *ngIf="SignUpForm.controls['Email'].errors!required" style="color:red">Email requiered</div>
              <div *ngIf="SignUpForm.controls['Email'].errors!email" style="color: red">
                invalid mail
              </div>
            <div class="form-group">
              <input type="password" class="form-control"  [(ngModel)]="Password"placeholder="mot de passe ">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" [(ngModel)]="ConfirmPassword" placeholder="confirm mot de passe ">
              </div>
              
            <div class="form-group">
                <input type="submit" class="btn btn-primary py-3 px-5"  (click)="Sign(SignUpForm.value)" value="sign_up">
            </div>-->
        </form>
      </div>
    </div>
  </div>
</div>
